/*PAGE 1*/

.header{
   
    height:375px;
    width:160px;
    background-color:rgb(44, 43, 43);
    text-align:center;
    float:left;
    border-radius:25px;
    
}

.homeBtn{
    background-color:rgb(0, 78, 160);
    border-radius:25px;
    width: 120px;
    height: 60px;
    font-size:15px;
    font-weight: bold;
}

.aboutBtn{
    background-color:rgb(0, 78, 160);
    border-radius:25px;
    width: 120px;
    height: 60px;
    font-size:15px;
    font-weight: bold;
}
.optionsBtn{
    background-color:rgb(0, 78, 160);
    border-radius:25px;
    width: 120px;
    height: 60px;
    font-size:15px;
    font-weight: bold;
}

.hide{
    display:none
}

.text{
    color:white;
    position: absolute;
    left: 190px;
    top:90px;
    font-family: arial;
    font-size: 20px;
    
}
.subHeading1{
    text-decoration:underline;
    color:white;
    position: absolute;
    left: 190px;
    top:10px;
    font-family: arial;
    font-size: 50px;
    
}

.text2{
    color:white;
    position: absolute;
    right: 190px;
    top:90px;
    font-family: arial;
    font-size: 20px;
    
}

.subHeading2{
    text-decoration:underline;
    color:white;
    position: absolute;
    right: 190px;
    top:10px;
    font-family: arial;
    font-size: 50px;
    
}
/*PAGE 2*/

