:root{
    --background: #303131;
    --primary-color: #1c1d20;
    --secondary-color: #4a4d57;
    --accent-color: #1285d1;
    --text-color: #f9f9f9;
}

body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(70, 70, 70);
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

.appTitle{
    font-size: 3rem;
    font-weight:800;
    text-transform:uppercase;
    text-align:center;
    color:var(--accent-color);
    position: absolute;
    top: 70px;

}

#calculator{
    position: absolute;
    top:280px;
    font-family: Arial, sans-serif;
    background-color: rgb(42, 42, 42);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    max-height: 800px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(60, 59, 59);
    color:white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 78, 160);
    color:white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(36, 100, 169);
}

button:active{
    background-color: rgb(52, 126, 205);
}
.operator-btn{
    background-color: rgb(255, 177, 10);
}

.operator-btn:hover{
    background-color: rgb(241, 191, 82);
}

.operator-btn:active{
    background-color: rgb(215, 159, 38);
}

